@model IEnumerable<project100900.Models.Location>
<link href='https://api.mapbox.com/mapbox-gl-js/v2.5.1/mapbox-gl.css' rel='stylesheet' />
<script src='https://api.mapbox.com/mapbox-gl-js/v2.5.1/mapbox-gl.js'></script>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Index</h2>
<div id="map" style="height:300px"></div>

<br />
<p>
    @Html.ActionLink("Create New", "Create", "Locations", new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Latitude)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Longitude)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr class="coordinates">
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td class="description">
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td class="latitude">
                @Html.DisplayFor(modelItem => item.Latitude)
            </td>
            <td class="longitude">
                @Html.DisplayFor(modelItem => item.Longitude)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }
</table>
@section Scripts {
    @Scripts.Render("~/bundles/mapbox")
    <script>
        mapboxgl.accessToken = 'pk.eyJ1IjoiaGVyeTExMTMiLCJhIjoiY2xucHI1a201MHEzYjJqbGdpZW03ZnB0dCJ9.GgZ0WS63qmsdukDHO-o7_A'; // 替换为您的Mapbox访问令牌

        var map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/mapbox/streets-v10'
        });
        $(".coordinates").each(function () {
            var name = $(this).find(".description").text();
            var lat = parseFloat($(this).find(".latitude").text());
            var lon = parseFloat($(this).find(".longitude").text());

            new mapboxgl.Marker()
                .setLngLat([lon, lat])
                .setPopup(new mapboxgl.Popup().setText(name))
                .addTo(map);
        });
    </script>
}