@model project100900.Models.Appointment

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>
<link href="https://cdn.jsdelivr.net/npm/fullcalendar@5/main.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5/main.min.js"></script>
<style>
    #calendar {
        max-width: 900px;
        margin: 0 auto;
    }
</style>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Appointment</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.DoctorName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.DoctorName, new SelectList((List<string>)ViewBag.DoctorUserNames), htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.DoctorName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div id="calendar"></div>

        <div class="form-group">
            @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script>
        $(document).ready(function () {
    var appdic = @Html.Raw(ViewBag.appdic);

    var eventsArray = [];
    for (var key in appdic) {
        eventsArray.push({
            id: key,
            start: new Date(appdic[key]),
            title: "Appointment",
            allDay: true
        });
    }

    var today = new Date();
    var calendarEl = document.getElementById('calendar');
    var calendar = new FullCalendar.Calendar(calendarEl, {
        initialView: 'dayGridMonth',
        events: eventsArray,
        validRange: {
            start: today
        },
        dateClick: function (info) {
            console.log('Clicked date:', info.dateStr);
            var dateEvents = calendar.getEvents().filter(e => {
                return e.startStr === info.dateStr;
            });

            if (dateEvents.length > 0) {
                alert('This date already has an event. Please choose another date.');
                return;
            }

            $('#@Html.IdFor(model => model.Date)').val(info.dateStr);
            $(calendarEl).find('.selected-date').removeClass('selected-date');
            info.dayEl.classList.add('selected-date');
        }
    });

    calendar.render();
});





</script>
}
